
body { margin-bottom:50px; margin-top:50px; margin-right:50px; margin-left:50px;
        background: url('../data/back.jpg');
        background-size: 100%;
        font-family:  "Lucida Sans";
            }
    a:link { 
            COLOR:white;
         }
    a:visited {
            COLOR: white;
        }
    a:hover {
            COLOR: white;
        }
    a:active {
            COLOR: white;
        }
    a       {
          text-decoration:none;


        }

td  { align:center;
	 }

#lectures {
	background: rgba(255,255,255,0.25);
	padding: 10px;
	border-radius: 1em;
	list-style: none;
}

li{
	margin-left: 10px;


}

h1, h2, h3{
	color: white;
}
table
{
	border: solid medium transparent;
}

table td {
	border-radius: 10px;
}

p {
	color:white;
}
caption {background:rgba(255, 165, 0,1);
	border-radius: 10px;
	border: solid medium transparent;

}


.button{
	background: white;
	padding: 15px;
	text-align: center;
	border-radius: 1em;
}

#success{
	background: white;
	color: black;
	width: 90%;
	left:5%;
	top:100px;
}