
body {topmargin:35; leftmargin:38; rightmargin:38; bottommargin:40;
    background-image: url('data/back.jpg');  <!... Needs a picture ...!> 
}
h1 {
color: black; FONT-FAMILY: helvetica, lucida-sans, sans-serif; FONT-SIZE: 18pt;
FONT-STYLE: normal; FONT-VARIANT: normal
     }

h2 {
color: black; FONT-FAMILY: helvetica, lucida-sans, sans-serif; FONT-SIZE: 18pt;
FONT-STYLE: normal; FONT-VARIANT: normal
     }

h3 {
color: black; FONT-FAMILY: helvetica, lucida-sans, sans-serif; FONT-SIZE: 18pt;
FONT-STYLE: normal; FONT-VARIANT: normal
       }



